<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zad4.Properties.Settings.AJPOConnectionString" connectionString="Data Source=PRZEMO-KOMPUTER\MOJSERWER;Initial Catalog=AJPO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>